@charset "UTF-8";

@font-face {
  font-family: 'linea';
  src: url('../../fonts/linea/linea.eot');
  src: url('../../fonts/linea/linea.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/linea/linea.woff') format('woff'), url('../../fonts/linea/linea.ttf') format('truetype'),
    url('../../fonts/linea/linea.svg#linea') format('svg');
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: 'linea' !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^='icon-']:before,
[class*=' icon-']:before {
  font-family: 'linea' !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrows-anticlockwise:before {
  content: '\61';
}

.icon-arrows-anticlockwise-dashed:before {
  content: '\62';
}

.icon-arrows-button-down:before {
  content: '\63';
}

.icon-arrows-button-off:before {
  content: '\64';
}

.icon-arrows-button-on:before {
  content: '\65';
}

.icon-arrows-button-up-1:before {
  content: '\66';
}

.icon-arrows-check:before {
  content: '\67';
}

.icon-arrows-circle-check:before {
  content: '\68';
}

.icon-arrows-circle-down:before {
  content: '\69';
}

.icon-arrows-circle-downleft:before {
  content: '\6a';
}

.icon-arrows-circle-downright:before {
  content: '\6b';
}

.icon-arrows-circle-left:before {
  content: '\6c';
}

.icon-arrows-circle-minus:before {
  content: '\6d';
}

.icon-arrows-circle-plus:before {
  content: '\6e';
}

.icon-arrows-circle-remove:before {
  content: '\6f';
}

.icon-arrows-circle-right:before {
  content: '\70';
}

.icon-arrows-circle-up:before {
  content: '\71';
}

.icon-arrows-circle-upleft:before {
  content: '\72';
}

.icon-arrows-circle-upright:before {
  content: '\73';
}

.icon-arrows-clockwise:before {
  content: '\74';
}

.icon-arrows-clockwise-dashed:before {
  content: '\75';
}

.icon-arrows-compress:before {
  content: '\76';
}

.icon-arrows-deny:before {
  content: '\77';
}

.icon-arrows-diagonal:before {
  content: '\78';
}

.icon-arrows-diagonal2:before {
  content: '\79';
}

.icon-arrows-down:before {
  content: '\7a';
}

.icon-arrows-down-double:before {
  content: '\41';
}

.icon-arrows-downleft:before {
  content: '\42';
}

.icon-arrows-downright:before {
  content: '\43';
}

.icon-arrows-drag-down:before {
  content: '\44';
}

.icon-arrows-drag-down-dashed:before {
  content: '\45';
}

.icon-arrows-drag-horiz:before {
  content: '\46';
}

.icon-arrows-drag-left:before {
  content: '\47';
}

.icon-arrows-drag-left-dashed:before {
  content: '\48';
}

.icon-arrows-drag-right:before {
  content: '\49';
}

.icon-arrows-drag-right-dashed:before {
  content: '\4a';
}

.icon-arrows-drag-up:before {
  content: '\4b';
}

.icon-arrows-drag-up-dashed:before {
  content: '\4c';
}

.icon-arrows-drag-vert:before {
  content: '\4d';
}

.icon-arrows-exclamation:before {
  content: '\4e';
}

.icon-arrows-expand:before {
  content: '\4f';
}

.icon-arrows-expand-diagonal1:before {
  content: '\50';
}

.icon-arrows-expand-horizontal1:before {
  content: '\51';
}

.icon-arrows-expand-vertical1:before {
  content: '\52';
}

.icon-arrows-fit-horizontal:before {
  content: '\53';
}

.icon-arrows-fit-vertical:before {
  content: '\54';
}

.icon-arrows-glide:before {
  content: '\55';
}

.icon-arrows-glide-horizontal:before {
  content: '\56';
}

.icon-arrows-glide-vertical:before {
  content: '\57';
}

.icon-arrows-hamburger1:before {
  content: '\58';
}

.icon-arrows-hamburger-2:before {
  content: '\59';
}

.icon-arrows-horizontal:before {
  content: '\5a';
}

.icon-arrows-info:before {
  content: '\30';
}

.icon-arrows-keyboard-alt:before {
  content: '\31';
}

.icon-arrows-keyboard-cmd:before {
  content: '\32';
}

.icon-arrows-keyboard-delete:before {
  content: '\33';
}

.icon-arrows-keyboard-down:before {
  content: '\34';
}

.icon-arrows-keyboard-left:before {
  content: '\35';
}

.icon-arrows-keyboard-return:before {
  content: '\36';
}

.icon-arrows-keyboard-right:before {
  content: '\37';
}

.icon-arrows-keyboard-shift:before {
  content: '\38';
}

.icon-arrows-keyboard-tab:before {
  content: '\39';
}

.icon-arrows-keyboard-up:before {
  content: '\21';
}

.icon-arrows-left:before {
  content: '\22';
}

.icon-arrows-left-double-32:before {
  content: '\23';
}

.icon-arrows-minus:before {
  content: '\24';
}

.icon-arrows-move:before {
  content: '\25';
}

.icon-arrows-move2:before {
  content: '\26';
}

.icon-arrows-move-bottom:before {
  content: '\27';
}

.icon-arrows-move-left:before {
  content: '\28';
}

.icon-arrows-move-right:before {
  content: '\29';
}

.icon-arrows-move-top:before {
  content: '\2a';
}

.icon-arrows-plus:before {
  content: '\2b';
}

.icon-arrows-question:before {
  content: '\2c';
}

.icon-arrows-remove:before {
  content: '\2d';
}

.icon-arrows-right:before {
  content: '\2e';
}

.icon-arrows-right-double:before {
  content: '\2f';
}

.icon-arrows-rotate:before {
  content: '\3a';
}

.icon-arrows-rotate-anti:before {
  content: '\3b';
}

.icon-arrows-rotate-anti-dashed:before {
  content: '\3c';
}

.icon-arrows-rotate-dashed:before {
  content: '\3d';
}

.icon-arrows-shrink:before {
  content: '\3e';
}

.icon-arrows-shrink-diagonal1:before {
  content: '\3f';
}

.icon-arrows-shrink-diagonal2:before {
  content: '\40';
}

.icon-arrows-shrink-horizonal2:before {
  content: '\5b';
}

.icon-arrows-shrink-horizontal1:before {
  content: '\5d';
}

.icon-arrows-shrink-vertical1:before {
  content: '\5e';
}

.icon-arrows-shrink-vertical2:before {
  content: '\5f';
}

.icon-arrows-sign-down:before {
  content: '\60';
}

.icon-arrows-sign-left:before {
  content: '\7b';
}

.icon-arrows-sign-right:before {
  content: '\7c';
}

.icon-arrows-sign-up:before {
  content: '\7d';
}

.icon-arrows-slide-down1:before {
  content: '\7e';
}

.icon-arrows-slide-down2:before {
  content: '\5c';
}

.icon-arrows-slide-left1:before {
  content: '\e000';
}

.icon-arrows-slide-left2:before {
  content: '\e001';
}

.icon-arrows-slide-right1:before {
  content: '\e002';
}

.icon-arrows-slide-right2:before {
  content: '\e003';
}

.icon-arrows-slide-up1:before {
  content: '\e004';
}

.icon-arrows-slide-up2:before {
  content: '\e005';
}

.icon-arrows-slim-down:before {
  content: '\e006';
}

.icon-arrows-slim-down-dashed:before {
  content: '\e007';
}

.icon-arrows-slim-left:before {
  content: '\e008';
}

.icon-arrows-slim-left-dashed:before {
  content: '\e009';
}

.icon-arrows-slim-right:before {
  content: '\e00a';
}

.icon-arrows-slim-right-dashed:before {
  content: '\e00b';
}

.icon-arrows-slim-up:before {
  content: '\e00c';
}

.icon-arrows-slim-up-dashed:before {
  content: '\e00d';
}

.icon-arrows-square-check:before {
  content: '\e00e';
}

.icon-arrows-square-down:before {
  content: '\e00f';
}

.icon-arrows-square-downleft:before {
  content: '\e010';
}

.icon-arrows-square-downright:before {
  content: '\e011';
}

.icon-arrows-square-left:before {
  content: '\e012';
}

.icon-arrows-square-minus:before {
  content: '\e013';
}

.icon-arrows-square-plus:before {
  content: '\e014';
}

.icon-arrows-square-remove:before {
  content: '\e015';
}

.icon-arrows-square-right:before {
  content: '\e016';
}

.icon-arrows-square-up:before {
  content: '\e017';
}

.icon-arrows-square-upleft:before {
  content: '\e018';
}

.icon-arrows-square-upright:before {
  content: '\e019';
}

.icon-arrows-squares:before {
  content: '\e01a';
}

.icon-arrows-stretch-diagonal1:before {
  content: '\e01b';
}

.icon-arrows-stretch-diagonal2:before {
  content: '\e01c';
}

.icon-arrows-stretch-diagonal3:before {
  content: '\e01d';
}

.icon-arrows-stretch-diagonal4:before {
  content: '\e01e';
}

.icon-arrows-stretch-horizontal1:before {
  content: '\e01f';
}

.icon-arrows-stretch-horizontal2:before {
  content: '\e020';
}

.icon-arrows-stretch-vertical1:before {
  content: '\e021';
}

.icon-arrows-stretch-vertical2:before {
  content: '\e022';
}

.icon-arrows-switch-horizontal:before {
  content: '\e023';
}

.icon-arrows-switch-vertical:before {
  content: '\e024';
}

.icon-arrows-up:before {
  content: '\e025';
}

.icon-arrows-up-double-33:before {
  content: '\e026';
}

.icon-arrows-upleft:before {
  content: '\e027';
}

.icon-arrows-upright:before {
  content: '\e028';
}

.icon-arrows-vertical:before {
  content: '\e029';
}

.icon-basic-accelerator:before {
  content: '\e02a';
}

.icon-basic-alarm:before {
  content: '\e02b';
}

.icon-basic-anchor:before {
  content: '\e02c';
}

.icon-basic-anticlockwise:before {
  content: '\e02d';
}

.icon-basic-archive:before {
  content: '\e02e';
}

.icon-basic-archive-full:before {
  content: '\e02f';
}

.icon-basic-ban:before {
  content: '\e030';
}

.icon-basic-battery-charge:before {
  content: '\e031';
}

.icon-basic-battery-empty:before {
  content: '\e032';
}

.icon-basic-battery-full:before {
  content: '\e033';
}

.icon-basic-battery-half:before {
  content: '\e034';
}

.icon-basic-bolt:before {
  content: '\e035';
}

.icon-basic-book:before {
  content: '\e036';
}

.icon-basic-book-pen:before {
  content: '\e037';
}

.icon-basic-book-pencil:before {
  content: '\e038';
}

.icon-basic-bookmark:before {
  content: '\e039';
}

.icon-basic-calculator:before {
  content: '\e03a';
}

.icon-basic-calendar:before {
  content: '\e03b';
}

.icon-basic-cards-diamonds:before {
  content: '\e03c';
}

.icon-basic-cards-hearts:before {
  content: '\e03d';
}

.icon-basic-case:before {
  content: '\e03e';
}

.icon-basic-chronometer:before {
  content: '\e03f';
}

.icon-basic-clessidre:before {
  content: '\e040';
}

.icon-basic-clock:before {
  content: '\e041';
}

.icon-basic-clockwise:before {
  content: '\e042';
}

.icon-basic-cloud:before {
  content: '\e043';
}

.icon-basic-clubs:before {
  content: '\e044';
}

.icon-basic-compass:before {
  content: '\e045';
}

.icon-basic-cup:before {
  content: '\e046';
}

.icon-basic-diamonds:before {
  content: '\e047';
}

.icon-basic-display:before {
  content: '\e048';
}

.icon-basic-download:before {
  content: '\e049';
}

.icon-basic-exclamation:before {
  content: '\e04a';
}

.icon-basic-eye:before {
  content: '\e04b';
}

.icon-basic-eye-closed:before {
  content: '\e04c';
}

.icon-basic-female:before {
  content: '\e04d';
}

.icon-basic-flag1:before {
  content: '\e04e';
}

.icon-basic-flag2:before {
  content: '\e04f';
}

.icon-basic-floppydisk:before {
  content: '\e050';
}

.icon-basic-folder:before {
  content: '\e051';
}

.icon-basic-folder-multiple:before {
  content: '\e052';
}

.icon-basic-gear:before {
  content: '\e053';
}

.icon-basic-geolocalize-01:before {
  content: '\e054';
}

.icon-basic-geolocalize-05:before {
  content: '\e055';
}

.icon-basic-globe:before {
  content: '\e056';
}

.icon-basic-gunsight:before {
  content: '\e057';
}

.icon-basic-hammer:before {
  content: '\e058';
}

.icon-basic-headset:before {
  content: '\e059';
}

.icon-basic-heart:before {
  content: '\e05a';
}

.icon-basic-heart-broken:before {
  content: '\e05b';
}

.icon-basic-helm:before {
  content: '\e05c';
}

.icon-basic-home:before {
  content: '\e05d';
}

.icon-basic-info:before {
  content: '\e05e';
}

.icon-basic-ipod:before {
  content: '\e05f';
}

.icon-basic-joypad:before {
  content: '\e060';
}

.icon-basic-key:before {
  content: '\e061';
}

.icon-basic-keyboard:before {
  content: '\e062';
}

.icon-basic-laptop:before {
  content: '\e063';
}

.icon-basic-life-buoy:before {
  content: '\e064';
}

.icon-basic-lightbulb:before {
  content: '\e065';
}

.icon-basic-link:before {
  content: '\e066';
}

.icon-basic-lock:before {
  content: '\e067';
}

.icon-basic-lock-open:before {
  content: '\e068';
}

.icon-basic-magic-mouse:before {
  content: '\e069';
}

.icon-basic-magnifier:before {
  content: '\e06a';
}

.icon-basic-magnifier-minus:before {
  content: '\e06b';
}

.icon-basic-magnifier-plus:before {
  content: '\e06c';
}

.icon-basic-mail:before {
  content: '\e06d';
}

.icon-basic-mail-multiple:before {
  content: '\e06e';
}

.icon-basic-mail-open:before {
  content: '\e06f';
}

.icon-basic-mail-open-text:before {
  content: '\e070';
}

.icon-basic-male:before {
  content: '\e071';
}

.icon-basic-map:before {
  content: '\e072';
}

.icon-basic-message:before {
  content: '\e073';
}

.icon-basic-message-multiple:before {
  content: '\e074';
}

.icon-basic-message-txt:before {
  content: '\e075';
}

.icon-basic-mixer2:before {
  content: '\e076';
}

.icon-basic-mouse:before {
  content: '\e077';
}

.icon-basic-notebook:before {
  content: '\e078';
}

.icon-basic-notebook-pen:before {
  content: '\e079';
}

.icon-basic-notebook-pencil:before {
  content: '\e07a';
}

.icon-basic-paperplane:before {
  content: '\e07b';
}

.icon-basic-pencil-ruler:before {
  content: '\e07c';
}

.icon-basic-pencil-ruler-pen:before {
  content: '\e07d';
}

.icon-basic-photo:before {
  content: '\e07e';
}

.icon-basic-picture:before {
  content: '\e07f';
}

.icon-basic-picture-multiple:before {
  content: '\e080';
}

.icon-basic-pin1:before {
  content: '\e081';
}

.icon-basic-pin2:before {
  content: '\e082';
}

.icon-basic-postcard:before {
  content: '\e083';
}

.icon-basic-postcard-multiple:before {
  content: '\e084';
}

.icon-basic-printer:before {
  content: '\e085';
}

.icon-basic-question:before {
  content: '\e086';
}

.icon-basic-rss:before {
  content: '\e087';
}

.icon-basic-server:before {
  content: '\e088';
}

.icon-basic-server2:before {
  content: '\e089';
}

.icon-basic-server-cloud:before {
  content: '\e08a';
}

.icon-basic-server-download:before {
  content: '\e08b';
}

.icon-basic-server-upload:before {
  content: '\e08c';
}

.icon-basic-settings:before {
  content: '\e08d';
}

.icon-basic-share:before {
  content: '\e08e';
}

.icon-basic-sheet:before {
  content: '\e08f';
}

.icon-basic-sheet-multiple:before {
  content: '\e090';
}

.icon-basic-sheet-pen:before {
  content: '\e091';
}

.icon-basic-sheet-pencil:before {
  content: '\e092';
}

.icon-basic-sheet-txt:before {
  content: '\e093';
}

.icon-basic-signs:before {
  content: '\e094';
}

.icon-basic-smartphone:before {
  content: '\e095';
}

.icon-basic-spades:before {
  content: '\e096';
}

.icon-basic-spread:before {
  content: '\e097';
}

.icon-basic-spread-bookmark:before {
  content: '\e098';
}

.icon-basic-spread-text:before {
  content: '\e099';
}

.icon-basic-spread-text-bookmark:before {
  content: '\e09a';
}

.icon-basic-star:before {
  content: '\e09b';
}

.icon-basic-tablet:before {
  content: '\e09c';
}

.icon-basic-target:before {
  content: '\e09d';
}

.icon-basic-todo:before {
  content: '\e09e';
}

.icon-basic-todo-pen:before {
  content: '\e09f';
}

.icon-basic-todo-pencil:before {
  content: '\e0a0';
}

.icon-basic-todo-txt:before {
  content: '\e0a1';
}

.icon-basic-todolist-pen:before {
  content: '\e0a2';
}

.icon-basic-todolist-pencil:before {
  content: '\e0a3';
}

.icon-basic-trashcan:before {
  content: '\e0a4';
}

.icon-basic-trashcan-full:before {
  content: '\e0a5';
}

.icon-basic-trashcan-refresh:before {
  content: '\e0a6';
}

.icon-basic-trashcan-remove:before {
  content: '\e0a7';
}

.icon-basic-upload:before {
  content: '\e0a8';
}

.icon-basic-usb:before {
  content: '\e0a9';
}

.icon-basic-video:before {
  content: '\e0aa';
}

.icon-basic-watch:before {
  content: '\e0ab';
}

.icon-basic-webpage:before {
  content: '\e0ac';
}

.icon-basic-webpage-img-txt:before {
  content: '\e0ad';
}

.icon-basic-webpage-multiple:before {
  content: '\e0ae';
}

.icon-basic-webpage-txt:before {
  content: '\e0af';
}

.icon-basic-world:before {
  content: '\e0b0';
}

.icon-basic-elaboration-bookmark-checck:before {
  content: '\e0b1';
}

.icon-basic-elaboration-bookmark-minus:before {
  content: '\e0b2';
}

.icon-basic-elaboration-bookmark-plus:before {
  content: '\e0b3';
}

.icon-basic-elaboration-bookmark-remove:before {
  content: '\e0b4';
}

.icon-basic-elaboration-briefcase-check:before {
  content: '\e0b5';
}

.icon-basic-elaboration-briefcase-download:before {
  content: '\e0b6';
}

.icon-basic-elaboration-briefcase-flagged:before {
  content: '\e0b7';
}

.icon-basic-elaboration-briefcase-minus:before {
  content: '\e0b8';
}

.icon-basic-elaboration-briefcase-plus:before {
  content: '\e0b9';
}

.icon-basic-elaboration-briefcase-refresh:before {
  content: '\e0ba';
}

.icon-basic-elaboration-briefcase-remove:before {
  content: '\e0bb';
}

.icon-basic-elaboration-briefcase-search:before {
  content: '\e0bc';
}

.icon-basic-elaboration-briefcase-star:before {
  content: '\e0bd';
}

.icon-basic-elaboration-briefcase-upload:before {
  content: '\e0be';
}

.icon-basic-elaboration-browser-check:before {
  content: '\e0bf';
}

.icon-basic-elaboration-browser-download:before {
  content: '\e0c0';
}

.icon-basic-elaboration-browser-minus:before {
  content: '\e0c1';
}

.icon-basic-elaboration-browser-plus:before {
  content: '\e0c2';
}

.icon-basic-elaboration-browser-refresh:before {
  content: '\e0c3';
}

.icon-basic-elaboration-browser-remove:before {
  content: '\e0c4';
}

.icon-basic-elaboration-browser-search:before {
  content: '\e0c5';
}

.icon-basic-elaboration-browser-star:before {
  content: '\e0c6';
}

.icon-basic-elaboration-browser-upload:before {
  content: '\e0c7';
}

.icon-basic-elaboration-calendar-check:before {
  content: '\e0c8';
}

.icon-basic-elaboration-calendar-cloud:before {
  content: '\e0c9';
}

.icon-basic-elaboration-calendar-download:before {
  content: '\e0ca';
}

.icon-basic-elaboration-calendar-empty:before {
  content: '\e0cb';
}

.icon-basic-elaboration-calendar-flagged:before {
  content: '\e0cc';
}

.icon-basic-elaboration-calendar-heart:before {
  content: '\e0cd';
}

.icon-basic-elaboration-calendar-minus:before {
  content: '\e0ce';
}

.icon-basic-elaboration-calendar-next:before {
  content: '\e0cf';
}

.icon-basic-elaboration-calendar-noaccess:before {
  content: '\e0d0';
}

.icon-basic-elaboration-calendar-pencil:before {
  content: '\e0d1';
}

.icon-basic-elaboration-calendar-plus:before {
  content: '\e0d2';
}

.icon-basic-elaboration-calendar-previous:before {
  content: '\e0d3';
}

.icon-basic-elaboration-calendar-refresh:before {
  content: '\e0d4';
}

.icon-basic-elaboration-calendar-remove:before {
  content: '\e0d5';
}

.icon-basic-elaboration-calendar-search:before {
  content: '\e0d6';
}

.icon-basic-elaboration-calendar-star:before {
  content: '\e0d7';
}

.icon-basic-elaboration-calendar-upload:before {
  content: '\e0d8';
}

.icon-basic-elaboration-cloud-check:before {
  content: '\e0d9';
}

.icon-basic-elaboration-cloud-download:before {
  content: '\e0da';
}

.icon-basic-elaboration-cloud-minus:before {
  content: '\e0db';
}

.icon-basic-elaboration-cloud-noaccess:before {
  content: '\e0dc';
}

.icon-basic-elaboration-cloud-plus:before {
  content: '\e0dd';
}

.icon-basic-elaboration-cloud-refresh:before {
  content: '\e0de';
}

.icon-basic-elaboration-cloud-remove:before {
  content: '\e0df';
}

.icon-basic-elaboration-cloud-search:before {
  content: '\e0e0';
}

.icon-basic-elaboration-cloud-upload:before {
  content: '\e0e1';
}

.icon-basic-elaboration-document-check:before {
  content: '\e0e2';
}

.icon-basic-elaboration-document-cloud:before {
  content: '\e0e3';
}

.icon-basic-elaboration-document-download:before {
  content: '\e0e4';
}

.icon-basic-elaboration-document-flagged:before {
  content: '\e0e5';
}

.icon-basic-elaboration-document-graph:before {
  content: '\e0e6';
}

.icon-basic-elaboration-document-heart:before {
  content: '\e0e7';
}

.icon-basic-elaboration-document-minus:before {
  content: '\e0e8';
}

.icon-basic-elaboration-document-next:before {
  content: '\e0e9';
}

.icon-basic-elaboration-document-noaccess:before {
  content: '\e0ea';
}

.icon-basic-elaboration-document-note:before {
  content: '\e0eb';
}

.icon-basic-elaboration-document-pencil:before {
  content: '\e0ec';
}

.icon-basic-elaboration-document-picture:before {
  content: '\e0ed';
}

.icon-basic-elaboration-document-plus:before {
  content: '\e0ee';
}

.icon-basic-elaboration-document-previous:before {
  content: '\e0ef';
}

.icon-basic-elaboration-document-refresh:before {
  content: '\e0f0';
}

.icon-basic-elaboration-document-remove:before {
  content: '\e0f1';
}

.icon-basic-elaboration-document-search:before {
  content: '\e0f2';
}

.icon-basic-elaboration-document-star:before {
  content: '\e0f3';
}

.icon-basic-elaboration-document-upload:before {
  content: '\e0f4';
}

.icon-basic-elaboration-folder-check:before {
  content: '\e0f5';
}

.icon-basic-elaboration-folder-cloud:before {
  content: '\e0f6';
}

.icon-basic-elaboration-folder-document:before {
  content: '\e0f7';
}

.icon-basic-elaboration-folder-download:before {
  content: '\e0f8';
}

.icon-basic-elaboration-folder-flagged:before {
  content: '\e0f9';
}

.icon-basic-elaboration-folder-graph:before {
  content: '\e0fa';
}

.icon-basic-elaboration-folder-heart:before {
  content: '\e0fb';
}

.icon-basic-elaboration-folder-minus:before {
  content: '\e0fc';
}

.icon-basic-elaboration-folder-next:before {
  content: '\e0fd';
}

.icon-basic-elaboration-folder-noaccess:before {
  content: '\e0fe';
}

.icon-basic-elaboration-folder-note:before {
  content: '\e0ff';
}

.icon-basic-elaboration-folder-pencil:before {
  content: '\e100';
}

.icon-basic-elaboration-folder-picture:before {
  content: '\e101';
}

.icon-basic-elaboration-folder-plus:before {
  content: '\e102';
}

.icon-basic-elaboration-folder-previous:before {
  content: '\e103';
}

.icon-basic-elaboration-folder-refresh:before {
  content: '\e104';
}

.icon-basic-elaboration-folder-remove:before {
  content: '\e105';
}

.icon-basic-elaboration-folder-search:before {
  content: '\e106';
}

.icon-basic-elaboration-folder-star:before {
  content: '\e107';
}

.icon-basic-elaboration-folder-upload:before {
  content: '\e108';
}

.icon-basic-elaboration-mail-check:before {
  content: '\e109';
}

.icon-basic-elaboration-mail-cloud:before {
  content: '\e10a';
}

.icon-basic-elaboration-mail-document:before {
  content: '\e10b';
}

.icon-basic-elaboration-mail-download:before {
  content: '\e10c';
}

.icon-basic-elaboration-mail-flagged:before {
  content: '\e10d';
}

.icon-basic-elaboration-mail-heart:before {
  content: '\e10e';
}

.icon-basic-elaboration-mail-next:before {
  content: '\e10f';
}

.icon-basic-elaboration-mail-noaccess:before {
  content: '\e110';
}

.icon-basic-elaboration-mail-note:before {
  content: '\e111';
}

.icon-basic-elaboration-mail-pencil:before {
  content: '\e112';
}

.icon-basic-elaboration-mail-picture:before {
  content: '\e113';
}

.icon-basic-elaboration-mail-previous:before {
  content: '\e114';
}

.icon-basic-elaboration-mail-refresh:before {
  content: '\e115';
}

.icon-basic-elaboration-mail-remove:before {
  content: '\e116';
}

.icon-basic-elaboration-mail-search:before {
  content: '\e117';
}

.icon-basic-elaboration-mail-star:before {
  content: '\e118';
}

.icon-basic-elaboration-mail-upload:before {
  content: '\e119';
}

.icon-basic-elaboration-message-check:before {
  content: '\e11a';
}

.icon-basic-elaboration-message-dots:before {
  content: '\e11b';
}

.icon-basic-elaboration-message-happy:before {
  content: '\e11c';
}

.icon-basic-elaboration-message-heart:before {
  content: '\e11d';
}

.icon-basic-elaboration-message-minus:before {
  content: '\e11e';
}

.icon-basic-elaboration-message-note:before {
  content: '\e11f';
}

.icon-basic-elaboration-message-plus:before {
  content: '\e120';
}

.icon-basic-elaboration-message-refresh:before {
  content: '\e121';
}

.icon-basic-elaboration-message-remove:before {
  content: '\e122';
}

.icon-basic-elaboration-message-sad:before {
  content: '\e123';
}

.icon-basic-elaboration-smartphone-cloud:before {
  content: '\e124';
}

.icon-basic-elaboration-smartphone-heart:before {
  content: '\e125';
}

.icon-basic-elaboration-smartphone-noaccess:before {
  content: '\e126';
}

.icon-basic-elaboration-smartphone-note:before {
  content: '\e127';
}

.icon-basic-elaboration-smartphone-pencil:before {
  content: '\e128';
}

.icon-basic-elaboration-smartphone-picture:before {
  content: '\e129';
}

.icon-basic-elaboration-smartphone-refresh:before {
  content: '\e12a';
}

.icon-basic-elaboration-smartphone-search:before {
  content: '\e12b';
}

.icon-basic-elaboration-tablet-cloud:before {
  content: '\e12c';
}

.icon-basic-elaboration-tablet-heart:before {
  content: '\e12d';
}

.icon-basic-elaboration-tablet-noaccess:before {
  content: '\e12e';
}

.icon-basic-elaboration-tablet-note:before {
  content: '\e12f';
}

.icon-basic-elaboration-tablet-pencil:before {
  content: '\e130';
}

.icon-basic-elaboration-tablet-picture:before {
  content: '\e131';
}

.icon-basic-elaboration-tablet-refresh:before {
  content: '\e132';
}

.icon-basic-elaboration-tablet-search:before {
  content: '\e133';
}

.icon-basic-elaboration-todolist-2:before {
  content: '\e134';
}

.icon-basic-elaboration-todolist-check:before {
  content: '\e135';
}

.icon-basic-elaboration-todolist-cloud:before {
  content: '\e136';
}

.icon-basic-elaboration-todolist-download:before {
  content: '\e137';
}

.icon-basic-elaboration-todolist-flagged:before {
  content: '\e138';
}

.icon-basic-elaboration-todolist-minus:before {
  content: '\e139';
}

.icon-basic-elaboration-todolist-noaccess:before {
  content: '\e13a';
}

.icon-basic-elaboration-todolist-pencil:before {
  content: '\e13b';
}

.icon-basic-elaboration-todolist-plus:before {
  content: '\e13c';
}

.icon-basic-elaboration-todolist-refresh:before {
  content: '\e13d';
}

.icon-basic-elaboration-todolist-remove:before {
  content: '\e13e';
}

.icon-basic-elaboration-todolist-search:before {
  content: '\e13f';
}

.icon-basic-elaboration-todolist-star:before {
  content: '\e140';
}

.icon-basic-elaboration-todolist-upload:before {
  content: '\e141';
}

.icon-ecommerce-bag:before {
  content: '\e142';
}

.icon-ecommerce-bag-check:before {
  content: '\e143';
}

.icon-ecommerce-bag-cloud:before {
  content: '\e144';
}

.icon-ecommerce-bag-download:before {
  content: '\e145';
}

.icon-ecommerce-bag-minus:before {
  content: '\e146';
}

.icon-ecommerce-bag-plus:before {
  content: '\e147';
}

.icon-ecommerce-bag-refresh:before {
  content: '\e148';
}

.icon-ecommerce-bag-remove:before {
  content: '\e149';
}

.icon-ecommerce-bag-search:before {
  content: '\e14a';
}

.icon-ecommerce-bag-upload:before {
  content: '\e14b';
}

.icon-ecommerce-banknote:before {
  content: '\e14c';
}

.icon-ecommerce-banknotes:before {
  content: '\e14d';
}

.icon-ecommerce-basket:before {
  content: '\e14e';
}

.icon-ecommerce-basket-check:before {
  content: '\e14f';
}

.icon-ecommerce-basket-cloud:before {
  content: '\e150';
}

.icon-ecommerce-basket-download:before {
  content: '\e151';
}

.icon-ecommerce-basket-minus:before {
  content: '\e152';
}

.icon-ecommerce-basket-plus:before {
  content: '\e153';
}

.icon-ecommerce-basket-refresh:before {
  content: '\e154';
}

.icon-ecommerce-basket-remove:before {
  content: '\e155';
}

.icon-ecommerce-basket-search:before {
  content: '\e156';
}

.icon-ecommerce-basket-upload:before {
  content: '\e157';
}

.icon-ecommerce-bath:before {
  content: '\e158';
}

.icon-ecommerce-cart:before {
  content: '\e159';
}

.icon-ecommerce-cart-check:before {
  content: '\e15a';
}

.icon-ecommerce-cart-cloud:before {
  content: '\e15b';
}

.icon-ecommerce-cart-content:before {
  content: '\e15c';
}

.icon-ecommerce-cart-download:before {
  content: '\e15d';
}

.icon-ecommerce-cart-minus:before {
  content: '\e15e';
}

.icon-ecommerce-cart-plus:before {
  content: '\e15f';
}

.icon-ecommerce-cart-refresh:before {
  content: '\e160';
}

.icon-ecommerce-cart-remove:before {
  content: '\e161';
}

.icon-ecommerce-cart-search:before {
  content: '\e162';
}

.icon-ecommerce-cart-upload:before {
  content: '\e163';
}

.icon-ecommerce-cent:before {
  content: '\e164';
}

.icon-ecommerce-colon:before {
  content: '\e165';
}

.icon-ecommerce-creditcard:before {
  content: '\e166';
}

.icon-ecommerce-diamond:before {
  content: '\e167';
}

.icon-ecommerce-dollar:before {
  content: '\e168';
}

.icon-ecommerce-euro:before {
  content: '\e169';
}

.icon-ecommerce-franc:before {
  content: '\e16a';
}

.icon-ecommerce-gift:before {
  content: '\e16b';
}

.icon-ecommerce-graph1:before {
  content: '\e16c';
}

.icon-ecommerce-graph2:before {
  content: '\e16d';
}

.icon-ecommerce-graph3:before {
  content: '\e16e';
}

.icon-ecommerce-graph-decrease:before {
  content: '\e16f';
}

.icon-ecommerce-graph-increase:before {
  content: '\e170';
}

.icon-ecommerce-guarani:before {
  content: '\e171';
}

.icon-ecommerce-kips:before {
  content: '\e172';
}

.icon-ecommerce-lira:before {
  content: '\e173';
}

.icon-ecommerce-megaphone:before {
  content: '\e174';
}

.icon-ecommerce-money:before {
  content: '\e175';
}

.icon-ecommerce-naira:before {
  content: '\e176';
}

.icon-ecommerce-pesos:before {
  content: '\e177';
}

.icon-ecommerce-pound:before {
  content: '\e178';
}

.icon-ecommerce-receipt:before {
  content: '\e179';
}

.icon-ecommerce-receipt-bath:before {
  content: '\e17a';
}

.icon-ecommerce-receipt-cent:before {
  content: '\e17b';
}

.icon-ecommerce-receipt-dollar:before {
  content: '\e17c';
}

.icon-ecommerce-receipt-euro:before {
  content: '\e17d';
}

.icon-ecommerce-receipt-franc:before {
  content: '\e17e';
}

.icon-ecommerce-receipt-guarani:before {
  content: '\e17f';
}

.icon-ecommerce-receipt-kips:before {
  content: '\e180';
}

.icon-ecommerce-receipt-lira:before {
  content: '\e181';
}

.icon-ecommerce-receipt-naira:before {
  content: '\e182';
}

.icon-ecommerce-receipt-pesos:before {
  content: '\e183';
}

.icon-ecommerce-receipt-pound:before {
  content: '\e184';
}

.icon-ecommerce-receipt-rublo:before {
  content: '\e185';
}

.icon-ecommerce-receipt-rupee:before {
  content: '\e186';
}

.icon-ecommerce-receipt-tugrik:before {
  content: '\e187';
}

.icon-ecommerce-receipt-won:before {
  content: '\e188';
}

.icon-ecommerce-receipt-yen:before {
  content: '\e189';
}

.icon-ecommerce-receipt-yen2:before {
  content: '\e18a';
}

.icon-ecommerce-recept-colon:before {
  content: '\e18b';
}

.icon-ecommerce-rublo:before {
  content: '\e18c';
}

.icon-ecommerce-rupee:before {
  content: '\e18d';
}

.icon-ecommerce-safe:before {
  content: '\e18e';
}

.icon-ecommerce-sale:before {
  content: '\e18f';
}

.icon-ecommerce-sales:before {
  content: '\e190';
}

.icon-ecommerce-ticket:before {
  content: '\e191';
}

.icon-ecommerce-tugriks:before {
  content: '\e192';
}

.icon-ecommerce-wallet:before {
  content: '\e193';
}

.icon-ecommerce-won:before {
  content: '\e194';
}

.icon-ecommerce-yen:before {
  content: '\e195';
}

.icon-ecommerce-yen2:before {
  content: '\e196';
}

.icon-music-beginning-button:before {
  content: '\e197';
}

.icon-music-bell:before {
  content: '\e198';
}

.icon-music-cd:before {
  content: '\e199';
}

.icon-music-diapason:before {
  content: '\e19a';
}

.icon-music-eject-button:before {
  content: '\e19b';
}

.icon-music-end-button:before {
  content: '\e19c';
}

.icon-music-fastforward-button:before {
  content: '\e19d';
}

.icon-music-headphones:before {
  content: '\e19e';
}

.icon-music-ipod:before {
  content: '\e19f';
}

.icon-music-loudspeaker:before {
  content: '\e1a0';
}

.icon-music-microphone:before {
  content: '\e1a1';
}

.icon-music-microphone-old:before {
  content: '\e1a2';
}

.icon-music-mixer:before {
  content: '\e1a3';
}

.icon-music-mute:before {
  content: '\e1a4';
}

.icon-music-note-multiple:before {
  content: '\e1a5';
}

.icon-music-note-single:before {
  content: '\e1a6';
}

.icon-music-pause-button:before {
  content: '\e1a7';
}

.icon-music-play-button:before {
  content: '\e1a8';
}

.icon-music-playlist:before {
  content: '\e1a9';
}

.icon-music-radio-ghettoblaster:before {
  content: '\e1aa';
}

.icon-music-radio-portable:before {
  content: '\e1ab';
}

.icon-music-record:before {
  content: '\e1ac';
}

.icon-music-recordplayer:before {
  content: '\e1ad';
}

.icon-music-repeat-button:before {
  content: '\e1ae';
}

.icon-music-rewind-button:before {
  content: '\e1af';
}

.icon-music-shuffle-button:before {
  content: '\e1b0';
}

.icon-music-stop-button:before {
  content: '\e1b1';
}

.icon-music-tape:before {
  content: '\e1b2';
}

.icon-music-volume-down:before {
  content: '\e1b3';
}

.icon-music-volume-up:before {
  content: '\e1b4';
}

.icon-software-add-vectorpoint:before {
  content: '\e1b5';
}

.icon-software-box-oval:before {
  content: '\e1b6';
}

.icon-software-box-polygon:before {
  content: '\e1b7';
}

.icon-software-box-rectangle:before {
  content: '\e1b8';
}

.icon-software-box-roundedrectangle:before {
  content: '\e1b9';
}

.icon-software-character:before {
  content: '\e1ba';
}

.icon-software-crop:before {
  content: '\e1bb';
}

.icon-software-eyedropper:before {
  content: '\e1bc';
}

.icon-software-font-allcaps:before {
  content: '\e1bd';
}

.icon-software-font-baseline-shift:before {
  content: '\e1be';
}

.icon-software-font-horizontal-scale:before {
  content: '\e1bf';
}

.icon-software-font-kerning:before {
  content: '\e1c0';
}

.icon-software-font-leading:before {
  content: '\e1c1';
}

.icon-software-font-size:before {
  content: '\e1c2';
}

.icon-software-font-smallcapital:before {
  content: '\e1c3';
}

.icon-software-font-smallcaps:before {
  content: '\e1c4';
}

.icon-software-font-strikethrough:before {
  content: '\e1c5';
}

.icon-software-font-tracking:before {
  content: '\e1c6';
}

.icon-software-font-underline:before {
  content: '\e1c7';
}

.icon-software-font-vertical-scale:before {
  content: '\e1c8';
}

.icon-software-horizontal-align-center:before {
  content: '\e1c9';
}

.icon-software-horizontal-align-left:before {
  content: '\e1ca';
}

.icon-software-horizontal-align-right:before {
  content: '\e1cb';
}

.icon-software-horizontal-distribute-center:before {
  content: '\e1cc';
}

.icon-software-horizontal-distribute-left:before {
  content: '\e1cd';
}

.icon-software-horizontal-distribute-right:before {
  content: '\e1ce';
}

.icon-software-indent-firstline:before {
  content: '\e1cf';
}

.icon-software-indent-left:before {
  content: '\e1d0';
}

.icon-software-indent-right:before {
  content: '\e1d1';
}

.icon-software-lasso:before {
  content: '\e1d2';
}

.icon-software-layers1:before {
  content: '\e1d3';
}

.icon-software-layers2:before {
  content: '\e1d4';
}

.icon-software-layout:before {
  content: '\e1d5';
}

.icon-software-layout-2columns:before {
  content: '\e1d6';
}

.icon-software-layout-3columns:before {
  content: '\e1d7';
}

.icon-software-layout-4boxes:before {
  content: '\e1d8';
}

.icon-software-layout-4columns:before {
  content: '\e1d9';
}

.icon-software-layout-4lines:before {
  content: '\e1da';
}

.icon-software-layout-8boxes:before {
  content: '\e1db';
}

.icon-software-layout-header:before {
  content: '\e1dc';
}

.icon-software-layout-header-2columns:before {
  content: '\e1dd';
}

.icon-software-layout-header-3columns:before {
  content: '\e1de';
}

.icon-software-layout-header-4boxes:before {
  content: '\e1df';
}

.icon-software-layout-header-4columns:before {
  content: '\e1e0';
}

.icon-software-layout-header-complex:before {
  content: '\e1e1';
}

.icon-software-layout-header-complex2:before {
  content: '\e1e2';
}

.icon-software-layout-header-complex3:before {
  content: '\e1e3';
}

.icon-software-layout-header-complex4:before {
  content: '\e1e4';
}

.icon-software-layout-header-sideleft:before {
  content: '\e1e5';
}

.icon-software-layout-header-sideright:before {
  content: '\e1e6';
}

.icon-software-layout-sidebar-left:before {
  content: '\e1e7';
}

.icon-software-layout-sidebar-right:before {
  content: '\e1e8';
}

.icon-software-magnete:before {
  content: '\e1e9';
}

.icon-software-pages:before {
  content: '\e1ea';
}

.icon-software-paintbrush:before {
  content: '\e1eb';
}

.icon-software-paintbucket:before {
  content: '\e1ec';
}

.icon-software-paintroller:before {
  content: '\e1ed';
}

.icon-software-paragraph:before {
  content: '\e1ee';
}

.icon-software-paragraph-align-left:before {
  content: '\e1ef';
}

.icon-software-paragraph-align-right:before {
  content: '\e1f0';
}

.icon-software-paragraph-center:before {
  content: '\e1f1';
}

.icon-software-paragraph-justify-all:before {
  content: '\e1f2';
}

.icon-software-paragraph-justify-center:before {
  content: '\e1f3';
}

.icon-software-paragraph-justify-left:before {
  content: '\e1f4';
}

.icon-software-paragraph-justify-right:before {
  content: '\e1f5';
}

.icon-software-paragraph-space-after:before {
  content: '\e1f6';
}

.icon-software-paragraph-space-before:before {
  content: '\e1f7';
}

.icon-software-pathfinder-exclude:before {
  content: '\e1f8';
}

.icon-software-pathfinder-intersect:before {
  content: '\e1f9';
}

.icon-software-pathfinder-subtract:before {
  content: '\e1fa';
}

.icon-software-pathfinder-unite:before {
  content: '\e1fb';
}

.icon-software-pen:before {
  content: '\e1fc';
}

.icon-software-pen-add:before {
  content: '\e1fd';
}

.icon-software-pen-remove:before {
  content: '\e1fe';
}

.icon-software-pencil:before {
  content: '\e1ff';
}

.icon-software-polygonallasso:before {
  content: '\e200';
}

.icon-software-reflect-horizontal:before {
  content: '\e201';
}

.icon-software-reflect-vertical:before {
  content: '\e202';
}

.icon-software-remove-vectorpoint:before {
  content: '\e203';
}

.icon-software-scale-expand:before {
  content: '\e204';
}

.icon-software-scale-reduce:before {
  content: '\e205';
}

.icon-software-selection-oval:before {
  content: '\e206';
}

.icon-software-selection-polygon:before {
  content: '\e207';
}

.icon-software-selection-rectangle:before {
  content: '\e208';
}

.icon-software-selection-roundedrectangle:before {
  content: '\e209';
}

.icon-software-shape-oval:before {
  content: '\e20a';
}

.icon-software-shape-polygon:before {
  content: '\e20b';
}

.icon-software-shape-rectangle:before {
  content: '\e20c';
}

.icon-software-shape-roundedrectangle:before {
  content: '\e20d';
}

.icon-software-slice:before {
  content: '\e20e';
}

.icon-software-transform-bezier:before {
  content: '\e20f';
}

.icon-software-vector-box:before {
  content: '\e210';
}

.icon-software-vector-composite:before {
  content: '\e211';
}

.icon-software-vector-line:before {
  content: '\e212';
}

.icon-software-vertical-align-bottom:before {
  content: '\e213';
}

.icon-software-vertical-align-center:before {
  content: '\e214';
}

.icon-software-vertical-align-top:before {
  content: '\e215';
}

.icon-software-vertical-distribute-bottom:before {
  content: '\e216';
}

.icon-software-vertical-distribute-center:before {
  content: '\e217';
}

.icon-software-vertical-distribute-top:before {
  content: '\e218';
}

.icon-weather-aquarius:before {
  content: '\e219';
}

.icon-weather-aries:before {
  content: '\e21a';
}

.icon-weather-cancer:before {
  content: '\e21b';
}

.icon-weather-capricorn:before {
  content: '\e21c';
}

.icon-weather-cloud:before {
  content: '\e21d';
}

.icon-weather-cloud-drop:before {
  content: '\e21e';
}

.icon-weather-cloud-lightning:before {
  content: '\e21f';
}

.icon-weather-cloud-snowflake:before {
  content: '\e220';
}

.icon-weather-downpour-fullmoon:before {
  content: '\e221';
}

.icon-weather-downpour-halfmoon:before {
  content: '\e222';
}

.icon-weather-downpour-sun:before {
  content: '\e223';
}

.icon-weather-drop:before {
  content: '\e224';
}

.icon-weather-first-quarter:before {
  content: '\e225';
}

.icon-weather-fog:before {
  content: '\e226';
}

.icon-weather-fog-fullmoon:before {
  content: '\e227';
}

.icon-weather-fog-halfmoon:before {
  content: '\e228';
}

.icon-weather-fog-sun:before {
  content: '\e229';
}

.icon-weather-fullmoon:before {
  content: '\e22a';
}

.icon-weather-gemini:before {
  content: '\e22b';
}

.icon-weather-hail:before {
  content: '\e22c';
}

.icon-weather-hail-fullmoon:before {
  content: '\e22d';
}

.icon-weather-hail-halfmoon:before {
  content: '\e22e';
}

.icon-weather-hail-sun:before {
  content: '\e22f';
}

.icon-weather-last-quarter:before {
  content: '\e230';
}

.icon-weather-leo:before {
  content: '\e231';
}

.icon-weather-libra:before {
  content: '\e232';
}

.icon-weather-lightning:before {
  content: '\e233';
}

.icon-weather-mistyrain:before {
  content: '\e234';
}

.icon-weather-mistyrain-fullmoon:before {
  content: '\e235';
}

.icon-weather-mistyrain-halfmoon:before {
  content: '\e236';
}

.icon-weather-mistyrain-sun:before {
  content: '\e237';
}

.icon-weather-moon:before {
  content: '\e238';
}

.icon-weather-moondown-full:before {
  content: '\e239';
}

.icon-weather-moondown-half:before {
  content: '\e23a';
}

.icon-weather-moonset-full:before {
  content: '\e23b';
}

.icon-weather-moonset-half:before {
  content: '\e23c';
}

.icon-weather-move2:before {
  content: '\e23d';
}

.icon-weather-newmoon:before {
  content: '\e23e';
}

.icon-weather-pisces:before {
  content: '\e23f';
}

.icon-weather-rain:before {
  content: '\e240';
}

.icon-weather-rain-fullmoon:before {
  content: '\e241';
}

.icon-weather-rain-halfmoon:before {
  content: '\e242';
}

.icon-weather-rain-sun:before {
  content: '\e243';
}

.icon-weather-sagittarius:before {
  content: '\e244';
}

.icon-weather-scorpio:before {
  content: '\e245';
}

.icon-weather-snow:before {
  content: '\e246';
}

.icon-weather-snow-fullmoon:before {
  content: '\e247';
}

.icon-weather-snow-halfmoon:before {
  content: '\e248';
}

.icon-weather-snow-sun:before {
  content: '\e249';
}

.icon-weather-snowflake:before {
  content: '\e24a';
}

.icon-weather-star:before {
  content: '\e24b';
}

.icon-weather-storm-11:before {
  content: '\e24c';
}

.icon-weather-storm-32:before {
  content: '\e24d';
}

.icon-weather-storm-fullmoon:before {
  content: '\e24e';
}

.icon-weather-storm-halfmoon:before {
  content: '\e24f';
}

.icon-weather-storm-sun:before {
  content: '\e250';
}

.icon-weather-sun:before {
  content: '\e251';
}

.icon-weather-sundown:before {
  content: '\e252';
}

.icon-weather-sunset:before {
  content: '\e253';
}

.icon-weather-taurus:before {
  content: '\e254';
}

.icon-weather-tempest:before {
  content: '\e255';
}

.icon-weather-tempest-fullmoon:before {
  content: '\e256';
}

.icon-weather-tempest-halfmoon:before {
  content: '\e257';
}

.icon-weather-tempest-sun:before {
  content: '\e258';
}

.icon-weather-variable-fullmoon:before {
  content: '\e259';
}

.icon-weather-variable-halfmoon:before {
  content: '\e25a';
}

.icon-weather-variable-sun:before {
  content: '\e25b';
}

.icon-weather-virgo:before {
  content: '\e25c';
}

.icon-weather-waning-cresent:before {
  content: '\e25d';
}

.icon-weather-waning-gibbous:before {
  content: '\e25e';
}

.icon-weather-waxing-cresent:before {
  content: '\e25f';
}

.icon-weather-waxing-gibbous:before {
  content: '\e260';
}

.icon-weather-wind:before {
  content: '\e261';
}

.icon-weather-wind-e:before {
  content: '\e262';
}

.icon-weather-wind-fullmoon:before {
  content: '\e263';
}

.icon-weather-wind-halfmoon:before {
  content: '\e264';
}

.icon-weather-wind-n:before {
  content: '\e265';
}

.icon-weather-wind-ne:before {
  content: '\e266';
}

.icon-weather-wind-nw:before {
  content: '\e267';
}

.icon-weather-wind-s:before {
  content: '\e268';
}

.icon-weather-wind-se:before {
  content: '\e269';
}

.icon-weather-wind-sun:before {
  content: '\e26a';
}

.icon-weather-wind-sw:before {
  content: '\e26b';
}

.icon-weather-wind-w:before {
  content: '\e26c';
}

.icon-weather-windgust:before {
  content: '\e26d';
}
