<!-- Preloader  -->
<div class="loader bg-dark">
  <div class="loader-inner ball-scale-ripple-multiple ball-scale-ripple-multiple-color">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
<!-- /End Preloader  -->
<div id="page">
  <!-- ============================
       BG & Overlays
  ================================= -->

  <!-- Bubbles BG -->
  <div id="page-bubbles" class="section-overlay bg-bubble-color" data-bubble-color="#0277BD"></div>
  <!-- /End Bubbles BG -->
  <div class="container-fluid">
    <div class="row">
      <!-- ============================
           Info
      ================================= -->

      <div id="info" class="col-md-12 text-white text-center page-info col-transform">
        <div class="vert-middle">
          <div class="reveal scale-out">
            <!-- Logo -->
            <div class="p-t-b-15">
              <img src="assets/images/logo-lg.png" height="86" width="70" alt="" />
            </div>
            <!-- /End Logo -->

            <div class="p-t-b-15">
              <!-- Headline & Description -->
              <h2><span class="font-weight-200">We're launching our</span><br />new Website</h2>

              <p>
                We're coming soon! Awesome template to present your future product or service.<br />We're working hard
                to give you the best experience!<br />
              </p>
              <!-- /End Headline & Description -->
            </div>
            <!-- Arrow -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /#page -->
